<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Cross Query</title>
</head>
<body>

<div th:if="${researchList.isEmpty()}" th:text="'There isn\'t any data'"></div>

<hr>
<tr th:each="res : ${researchList} ">
    <div th:text="${res.year + ' ' + res.jan + ' ' + res.feb + ' ' + res.mar + ' '
    + res.apr + ' ' + res.may + ' ' + res.jun + ' ' + res.jul + ' '
    + res.aug + ' ' + res.sep + ' ' + res.oct + ' ' + res.nov + ' ' + res.dec}">
    </div>
    <hr>
</tr>

<hr>
<a href="/home">Home</a>
<hr>
</body>
</html>