<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
</head>
<body>
Home Page
<hr>
<a href="/customers">Customers</a>
<br>
<a href="/crops">Crops</a>
<br>
<a href="/employees">Employees</a>
<br>
<a href="/education">Education List</a>
<br>
<a href="/titles">Titles</a>
<br>
<a href="/procedures">Procedures</a>
<br>
<a href="/research">Research List</a>
<br>
<a href="/species">Species</a>
<br>
<a href="/joinQuery">Join Query</a>
<br>
<a href="/conditionalQuery">Conditional Query</a>
<br>
<a href="/parameterizedQuery">Parameterized Query</a>
<br>
<a href="/finalQuery">Final Query</a>
<br>
<a href="/crossQuery">Cross Query</a>
<br>
<a href="/researchView">Research View</a>
<br>
</body>
</html>