<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Crops</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css"/>
</head>
<body>

<div class="container">
    <div class="row py-2">
        <div class="btn-group col-4" role="group">
            <a type="button" class="btn btn-primary" href="/crops/new">New Crop</a>
            <a type="button" class="btn btn-dark" href="/home">Home</a>
        </div>

        <div class="col-12">
            <table class="table table-bordered my-2">
                <thead>
                <tr>
                    <th scope="col">BRK Number</th>
                    <th scope="col">Crop</th>
                    <th scope="col">Actions</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="crop : ${crops}">
                    <th scope="row" th:text="${crop.brkNumber}">i</th>
                    <td th:text="${crop.name}">res</td>
                    <td>
                        <a id="edit-user" type="button" class="btn btn-success"
                           th:href="@{/crops/{number}(number=${crop.brkNumber})}"><i class="fas fa-search"></i></a>
                        <form class="d-inline" th:method="DELETE" th:action="@{/crops/{id}(id = ${crop.brkNumber})}">
                            <button class="btn btn-danger"><i class="far fa-trash-alt"></i></button>
                        </form>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

</body>
</html>